$swift-out: cubic-bezier(.55,0,.1,1);
.card-title {
	width: 100%;
	background-color: $primary-color;
}
#slide-out {
	overflow: scroll;
}
ul li.logo {
	margin-top: 16px;
	margin-bottom: 180px;
	padding-left: 0;
}
header, main, footer {
	padding-left: 240px;
}
#logo-container {
	height: 164px;
	width: 100%;
	padding: 0 0 16px 0;
	border-bottom: 1px solid #ddd;
}
#main-logo {
	margin-left: 46px;
	height: 100%;
}
@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}
.card {
	background-color: $primary-color;
	cursor: pointer;
	margin-top: 5rem;
	transition: margin 0s;
	&.active {
		margin-top: 0.5rem;
		transition: margin .5s ease-out;
	}
	.fill-card {
		height: 100% !important;
	}
}
nav.top-nav {
	height: 180px;
}
div.nav-wrapper {
	height: 132px;
}
.page-title {
	padding-left: 1em;
	line-height: 132px;
	font-size: 48px;
	font-weight: 300;
}
.bookmark-icon {
	text-align: center;
	color: #FFF;
	font-size: 200px;
}
#search {
	height: 132px;
	float: right;
	line-height: 132px;
	margin-right: 3rem;
	overflow: hidden;
	&.active {
		.input {
			width: 300px;
			transition: width .5s $swift-out;
		}
	}
	.input {
		float: right;
		width: 0;
		margin-top: 45px;
		overflow: hidden;
		transition: width .5s $swift-out;
		input {
			border-bottom: 1px solid #FFF;
			transition: border-bottom 0.2s ease;
		}
		input:focus {
			border-bottom: 1px solid transparent;
			transition: border-bottom 0.2s ease;
		}
		.bar {
			&:before, &:after {
				background: $secondary-color;
			}
		}
	}
}
.progress {
	display: none;
	background-color: transparent;
	&.active {
		display: block;
	}
}
.input {
	position:relative;
	margin: 24px 0;
	input {
		font-size: 18px;
		padding: 10px 10px 10px 5px;
		display: block;
		width: 300px;
		border: none;
		background-color: transparent;
		border-bottom: 1px solid #757575;
		transition: border-bottom 0.2s ease;
	}
	input:focus {
		outline: none;
		border-bottom: 1px solid transparent;
		transition: border-bottom 0.2s ease;
	}
	label {
		color: #999;
		font-size: 1.4em;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 5px;
		top: 10px;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
	}
	input:focus ~ label, input:valid ~ label {
		top:-20px;
		font-size:1em;
		color: $primary-color;
	}
	.bar {
		position:relative;
		display:block;
		width:300px;
		&:before, &:after {
			content:'';
			height:2px;
			width:0;
			bottom:1px;
			position:absolute;
			background: $primary-color;
			transition:0.2s ease all;
			-moz-transition:0.2s ease all;
			-webkit-transition:0.2s ease all;
		}
		&:before {
			left: 50%;
		}
		&:after {
			right: 50%;
		}
	}
	input:focus ~ .bar:before, input:focus ~ .bar:after {
		width:50%;
	}
	.highlight {
		position:absolute;
		height:60%;
		width:100px;
		top:25%;
		left:0;
		pointer-events:none;
		opacity:0.5;
	}
	input:focus ~ .highlight {
		-webkit-animation:inputHighlighter 0.3s ease;
		-moz-animation:inputHighlighter 0.3s ease;
		animation:inputHighlighter 0.3s ease;
	}
}
@-webkit-keyframes inputHighlighter {
	from { background:$primary-color; }
	to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:$primary-color; }
	to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:$primary-color; }
	to 	{ width:0; background:transparent; }
}
