@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
ul li.logo {
  margin-top: 16px;
  margin-bottom: 132px;
  padding-left: 0; }

header, main, footer {
  padding-left: 240px; }

#logo-container {
  height: 116px;
  width: 100%;
  padding: 0 0 16px 0;
  border-bottom: 1px solid #ddd; }

#main-logo {
  margin-left: 70px;
  height: 100%; }

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0; } }
.card {
  cursor: pointer; }
  .card .fill-card {
    height: 100% !important; }

nav.top-nav {
  height: 170px; }

div.nav-wrapper {
  height: 122px; }

.page-title {
  display: block;
  width: 85%;
  margin: 0 auto;
  line-height: 122px;
  font-size: 48px;
  font-weight: 300; }
